header {
    background-color: #9941B8;
    height: 150px;
}

img  {
    position: absolute;
    margin-top: auto;
    margin-right: 20px;

}
button {
    background-color: #64CE6E;
    
    margin-top: 73px;

   
}