
<div class="tableDiv container">
  <table class="table" id="zebra">
    <thead>
      <tr>
        <th>ID</th>
        <th>Subject</th>
        <th>Description</th>
        <th>User</th>
        <th>Date</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of apiData; let i = index" [ngStyle]="{'background-color': i % 2 === 0 ? '#f2f2f2' : '#ffffff'}">
        <td>{{ item.id }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.user }}</td>
        <td>{{ item.date }}</td>
        <td><button id="edit" class="btn btn-success" routerLink="/edit/{{ item.id }}">Editar</button></td>
      </tr>
    </tbody>
  </table>
</div> 
