th { 
    background-color: #96C93C;
    border: 2px solid #7AAE3D;
    color: white;
    font-size: 28px;
}

td {
    
    border: 1px solid #7AAE3D;
    color: white;
}

tr {
    color: black;
    border: 1px solid #7AAE3D;
}

.container {
    margin-top: 6em;
    text-align: center;
    
}

table#zebra tr:nth-child(even) td {
    background-color: #7554a3; 
  }
  
  table#zebra tr:nth-child(odd) td {
    background-color: #674099; 
  }

  #edit {
    background-color: #FEC20F;
    border-color: #F6971F;
    color: white;
    margin: 0px;
  }

  table#zebra {
    border-collapse: separate;
    border-spacing: 0;
  }

  table#zebra th:first-child,
  table#zebra td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  table#zebra th:last-child,
  table#zebra td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

